 :root {
    --color-1: #F72585;
    --color-2: #B5179E;
    --color-3: #7209B7;
    --color-4: #560BAD;
    --color-5: #3A0CA3;
    --color-6: #4361EE;
    --color-7: #4895EF;
    --color-8: #4CC9F0;
  }.box{
    min-height: 108vh;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    width: 100%;
    margin: 0;
    background:white;
    /* background: #1c92d2; 
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2); 
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
     */
  }

   .hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  align-items: center;
  /* gap: 20px; */
  padding-top: 50px;
  padding-left: 40px;
  /* margin-bottom: 0; */
  
}

.hero-heading {
  padding-top: 30px;
  font-size: 3.5rem;
  background: -webkit-linear-gradient(to bottom, var(--color-5), var(--color-2));  
  background: linear-gradient(to bottom, var(--color-5), var(--color-2));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Marcellus", serif;
}
.hero-text {
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
  align-items: center;
}
.hero-description {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.6;
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-container {
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  align-items: center;
  gap: 10px;
}
  .main-button {
    display: flex;
    justify-content: center;  
}
.main-button a{
    color: black;
    text-decoration: none;
}
  .main-button button{
    
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 14px 10px;
    text-align: center;
    display: inline-block;
    font-size: 3rem;
    background: #70e1f5; 
    font-weight: bold;
    z-index: 2;
    position: relative;
    outline: none;
    border: none;
  }
  .main-button button:hover{
    background: var(--color-6);   
    transform: scale(1.05);
  }
  .mainTitle{
    text-align: center;
    font-family: "Marcellus", serif;
    font-weight: bolder;
    font-size: 3vw;
    color: #70e1f5;
    padding-top: 50px;
  }